<md-content>



    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Correct">
            <md-content class="md-padding">
                <div layout="column">
                    <div>
                        <md-button ng-click="vm.addCorrect()">Add</md-button>
                    </div>
                    <md-list>
                        <md-list-item  ng-repeat="row in vm.data.correct">
                            <div layout="row">
                                <md-input-container flex="25">
                                    <label>Text</label>
                                    <input ng-model="row.text">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Description</label>
                                    <input ng-model="row.description">
                                </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Alternates">
            <md-content class="md-padding">
                <div layout="column">
                    <div>
                        <md-button ng-click="vm.addAlternate()">Add</md-button>
                    </div>
                    <md-list>
                        <md-list-item ng-repeat="row in vm.data.alternates">
                            <div layout="row">
                                <md-input-container flex="25">
                                    <label>Text</label>
                                    <input ng-model="row.text">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Description</label>
                                    <input ng-model="row.description">
                                </md-input-container>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>
