
<md-toolbar>
  <div class="md-toolbar-tools">
  <md-button class="md-icon-button" aria-label="Previous" ng-click="vm.previous()">
        <md-icon md-svg-icon="app/img/icons/previous.svg"></md-icon>
    </md-button>
  <h1 class="md-display-1" flex style="text-align: center;">{{vm.variety.value}}</h1>
  <md-button class="md-icon-button" aria-label="Next" ng-click="vm.next()">
        <md-icon md-svg-icon="app/img/icons/next.svg"></md-icon>
    </md-button>
    </div>
</md-toolbar>
<md-content class="md-padding" layout="column" layout-align="center center">
  <p>Colour: <span ng-if="vm.variety.isWhite">White</span> <span ng-if="!vm.variety.isWhite">Red</span></p>
  <p>Blends: <span ng-repeat="blend in vm.variety.blends">{{blend.value}}<span ng-if="!$last">,</span>&nbsp</span></p>
  <div>
  <h2>Premium Locations</h2>
  </div>
</md-content>
<md-content class="md-padding" layout="column" layout-align="center center" ng-if="false">
  <div flex="100" layout="column">
    <md-subheader class="md-primary">Select The Most Important Countries</md-subheader>
    <div layout="row" layout-wrap flex>
      <div flex="50" ng-repeat="item in vm.countries">
      <md-checkbox ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)">
        {{ item.value }} 
      </md-checkbox>
      </div>
    </div>
  </div>
  <div layout="row">
    <div flex></div>
    <md-button md-no-ink class="md-primary">Check Answers</md-button>
  </div>
<md-content class="md-padding" layout="column" layout-align="center center" ng-if="false">
  <div flex="100" layout="column">
    <md-subheader class="md-primary">Select The Most Important Countries</md-subheader>
    <div layout="row" layout-wrap flex>
      <div flex="50" ng-repeat="item in vm.countries">
      <md-checkbox ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)">
        {{ item.value }} 
      </md-checkbox>
      </div>
    </div>
  </div>
  <div layout="row">
    <div flex></div>
    <md-button md-no-ink class="md-primary">Check Answers</md-button>
  </div>
</md-content>

