<md-toolbar>
  <div class="md-toolbar-tools">
    <h2><span ng-show="vm.score>0">{{vm.score}}%</span></h2>
    <h2 flex style="text-align: center;">
      <span>{{vm.index+1}} of {{vm.data.length}}</span>
    </h2>
  </div>
</md-toolbar>
<div layout="row" layout-padding>
  <div flex >
    <p>{{vm.current.stem}}</p>
    <md-radio-group ng-model="vm.current.selected">
      <md-radio-button ng-repeat="selection in vm.current.selections" value="{{$index}}" 
         class="md-primary" ng-click="vm.selected($index)">{{selection.text}}</md-radio-button>
    </md-radio-group>
  </div>
</div>