
<md-toolbar>
  <div class="md-toolbar-tools">
  <h1 class="md-display-1" flex style="text-align: center;">Settings</h1>
    </div>
</md-toolbar>
<md-content class="md-padding" layout="column" layout-align="center center">
  <div flex="100" layout="column">
    <md-subheader class="md-primary">Select The Most Important Countries</md-subheader>
    <div layout="row" layout-wrap flex>
      <div flex="50" ng-repeat="item in vm.countries">
      <md-checkbox ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)">
        {{ item }} 
      </md-checkbox>
      </div>
    </div>
  </div>
  <div layout="row">
    <div flex></div>
    <md-button md-no-ink class="md-primary">Check Answers</md-button>
  </div>
</md-content>

